* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}



.navBar {
  height: 75px;
  width: 100%;
  background-color: red;
  border: 4px solid grey;
}

.head {
  color: white;
  padding: 7px;
  margin-right: 200px;
 
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(-45deg, rgb(45, 45, 65),  #c0891a,rgb(45, 45, 65) );
  background-size: 900% 100%;
  animation: gradient 35s ease infinite;
}

main {
  display: flex;
}

.indexlinks {
  height: auto;
  width: 60%;
  border: 4px solid grey;
  color: aquamarine;
  text-align: center;
  font-size: x-large;
}

.void {
  height: 500px;
  width: 100%;
  border-bottom: 4px solid grey;
}

.text {
  height: 500px;
  width: 100%;
  border-bottom: 4px solid grey;
  font-size: smaller;
}

.displayText {
  text-align: center;
  padding: 100px;
  color: white;
}

.indexrechts {
  height: 1000px;
  width: 60%;
  border: 4px solid grey;
  
}
img {
  border-radius: 25%;
}

.blokjeomfoto{
  height: 600px;
  width: 800px;
  background: linear-gradient(-45deg,  rgb(45, 45, 65), #aaaaaa, #c0891a,rgb(45, 45, 65) );
  background-size: 900% 100%;
  animation: gradient 35s ease infinite;
  border-radius: 25%;
  margin-left: 150px;
  padding: 10px;
}

@keyframes gradient {
  0% {
      background-position: 0% 75%;
  }
  50% {
      background-position: 100% 75%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.imagerobot {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

.imageLeft {
  height: 1000px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.textMid {
  height: 1000px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.imageRight {
  height: 1000px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.void2 {
  height: 50%;
  width: 100%;
  border-bottom: 4px solid grey;
  
}

.text2 {
  height: 55%;
  width: 100%;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
}

.image2 {
  height: 60%;
  width: 100%;
  margin-top: 20%;
  border: 4px solid grey;
  color: white;
  text-align: center;
}

.links2 {
  height: 100%;
  width: 50%;
  margin-top: 380px;
  border-left: 4px solid grey;
  
}

.rechts2 {
  height: 100%;
  width: 50%;
  border-right: 4px solid grey;
  border-bottom: 4px solid grey;
  
}

.forms{
  height: auto;
  width: 350px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(red, green, blue);
  padding: 20px;
}

/*-----------------------------------------*/

