* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.navBar {
  height: 75px;
  width: 100%;
  background-color: red;
  border: 4px solid grey;
}

.head {
  color: white;
  padding: 7px;
  margin-right: 200px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: rgb(45, 45, 65);
}

main {
  display: flex;
}

.links {
  height: 535px;
  width: 60%;
  border-left: 4px solid grey;
}

.void {
  height: 50%;
  width: 100%;
  border-bottom: 4px solid grey;
}

.text {
  height: 50%;
  width: 100%;
  border-bottom: 4px solid grey;
}

.displayText {
  text-align: center;
  padding: 100px;
  color: white;
}

.rechts {
  height: 535px;
  width: 40%;
  border-right: 4px solid grey;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
}

.image {
  height: 100%;
  width: 100%;
}

.imageLeft {
  height: 535px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.textMid {
  height: 535px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.imageRight {
  height: 535px;
  width: 33%;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.void2 {
  height: 50%;
  width: 100%;
  border-bottom: 4px solid grey;
}

.text2 {
  height: 50%;
  width: 100%;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  color: white;
  text-align: center;
}

.image2 {
  height: 60%;
  width: 100%;
  margin-top: 20%;
  border: 4px solid grey;
  color: white;
  text-align: center;
}

.links2 {
  height: 535px;
  width: 50%;
  border-left: 4px solid grey;
}

.rechts2 {
  height: 535px;
  width: 50%;
  border-right: 4px solid grey;
  border-bottom: 4px solid grey;
}
